openapi: 3.2.0
info:
  title: Fundrise Connect (External API) Authentication API
  version: 1.0.0
  contact:
    name: Fundrise Connect Support Team
    email: connect@fundrise.com
  description: '### Introduction

    Fundrise is a Fintech company democratizing access to alternative assets through technology.'
  x-logo:
    url: https://d10cq78zmnjvsx.cloudfront.net/interface/logo-hz-color.svg
    backgroundColor: '#FFFFFF'
    altText: Fundrise
    href: .
servers:
- description: Sandbox
  url: https://sandbox.fundrise.com
tags:
- name: Authentication
  description: '### Getting access

    To get started, please contact the support team via connect@fundrise.com.'
paths:
  /v1/oauth/token:
    post:
      summary: Get Access Token
      security:
      - PartnerBasicAuthentication: []
      description: 'This endpoint is an OAuth 2.0 Token Endpoint that supports the refresh token flow to obtain active access tokens, which are needed to access secured endpoints with ClientBearerAuthentication.


        Refresh tokens are issued on Client Creation and are scoped to that specific Client. Refresh tokens will not expire and should only be used to obtain new access tokens. Refresh tokens should be stored securely. At a minimum, refresh tokens should be encrypted at-rest and access restricted to services making requests to the Fundrise API. Refresh tokens should not be exposed to a Client or any of their devices.


        Access tokens have a limited lifespan, which is indicated in the `expiresIn` attribute of the response. When an access token expires, obtain a new access token using this endpoint. Access tokens will be scoped to the specific Client that the refresh token was scoped to.


        Note, the refresh token will be returned in the response along with the access token. Since refresh tokens will not expire, this should be the same refresh token that was used in the request.'
      tags:
      - Authentication
      operationId: GetAccessToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                grantType:
                  type: string
                  description: OAuth Grant Type must be `refresh_token`.
                  x-field-extra-annotation: '@NotBlank'
                refreshToken:
                  type: string
                  description: The refresh token value.
                  x-field-extra-annotation: '@NotBlank'
              required:
              - grantType
              - refreshToken
            examples:
              Refresh:
                value:
                  grantType: refresh_token
                  refreshToken: a1929bbf-acb1-430f-a87f-9b79a8cff1f4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AccessTokenResponse'
        '400':
          description: Invalid operation type, Improperly formatted fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundriseConnectError'
              examples:
                Invalid grant type:
                  value:
                    referenceId: ed8583b9-6cd9-43ed-ad46-c7c52fff0c35
                    message: Invalid grant type
                Missing refresh token:
                  value:
                    referenceId: ed8583b9-6cd9-43ed-ad46-c7c52fff0c35
                    validationErrors:
                      refreshToken:
                      - must not be blank
                      - must not be null
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    FundriseConnectError:
      title: Error object
      description: Error from Fundrise Connect.
      type: object
      properties:
        referenceId:
          description: A unique reference ID generated for every request that is for error tracing.
          maxLength: 1000
          type: string
        code:
          description: A numeric code mapping to a specific validation error.
          maxLength: 6
          type: string
        message:
          description: A human readable description of the error.
          maxLength: 1000
          type: string
        validationErrors:
          description: A map of field names to an array of form validation error messages
          $ref: '#/components/schemas/FieldErrorMap'
      required:
      - referenceId
    OAuth2AccessTokenResponse:
      description: Contains information needed to leverage the Client Bearer Authentication security scheme. Values are sensitive and allow api calls on behalf of a specific Client. The access token is to  be used in subsequent API calls protected by the Client Bearer Authentication schema. The access token is for individual Clients, and usage of the same token for multiple  Clients will cause unintended actions within our API.
      properties:
        accessToken:
          description: The access token.
          type: string
          example: HgHaJimFLx5WbPTWwvrw4ktJApo
        refreshToken:
          description: The refresh token.
          type: string
          example: HnGMTF2gVKQU-7IrCwhlXEEU0EY
        scope:
          description: The scopes granted to the access token.
          type: string
          example: PARTNER:READ PARTNER:WRITE
        tokenType:
          description: The token type, which will be "Bearer".
          type: string
          example: Bearer
        expiresIn:
          description: The amount of time in seconds until the access token expires.
          type: string
          format: int64
          example: '3598'
    StringArray:
      type: array
      items:
        type: string
    FieldErrorMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/StringArray'
  responses:
    '401':
      description: Unauthorized request to server, Invalid access token or Partner credentials
    '403':
      description: Customer is not permitted to access the resource
    '500':
      description: Internal Service Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FundriseConnectError'
          examples:
            clientExists:
              value:
                referenceId: ed8583b9-6cd9-43ed-ad46-c7c52fff0c35
                message: Internal service error
  securitySchemes:
    PartnerBasicAuthentication:
      description: PartnerBasicAuthentication is enforced by HTTP Basic Authentication. A Partner username and password will be provided by Fundrise support.  The Partner password should be stored securely. At a minimum, it should be encrypted at-rest and access restricted to services making requests to the Fundrise API. The Partner password should not be exposed to a Client or any of their devices. If the password is compromised please contact Fundrise support.
      type: http
      scheme: basic
    ClientBearerAuthentication:
      description: 'ClientBearerAuthentication is enforced by HTTP Bearer Authentication and requires an OAuth access token.  Since access tokens are scoped to specific Clients, they identify and authenticate the Client in a request.


        Access tokens can be obtained in <a href="#tag/Authentication/operation/GetAccessToken">Get Access Token</a> requests by using the refresh token flow. OAuth refresh token are issued on <a href="#tag/Clients/operation/CreateClient">Client Creation</a> and scoped specifically to that Client. The refresh tokens will not expire and should be stored securely after Client creation. At a minimum, refresh tokens should be encrypted at-rest and access restricted to services making requests to the Fundrise API. Refresh tokens should not be exposed to a Client or any of their devices.'
      type: http
      scheme: bearer
