openapi: 3.2.0
info:
  title: Fundrise Connect (External API) Tax Forms API
  version: 1.0.0
  contact:
    name: Fundrise Connect Support Team
    email: connect@fundrise.com
  description: '### Introduction

    Fundrise is a Fintech company democratizing access to alternative assets through technology.'
  x-logo:
    url: https://d10cq78zmnjvsx.cloudfront.net/interface/logo-hz-color.svg
    backgroundColor: '#FFFFFF'
    altText: Fundrise
    href: .
servers:
- description: Sandbox
  url: https://sandbox.fundrise.com
tags:
- name: Tax Forms
  description: The Tax Form API provides operations for fetching tax document information for a given tax year.
paths:
  /v1/account/{accountId}/tax-forms:
    get:
      security:
      - ClientBearerAuthentication: []
      operationId: GetTaxForms
      summary: Get tax forms
      description: Get the full lists of tax document data available for a specific year for the current authorized Client. The tax document URLs are AWS presigned URLs that are valid for 5 minutes.
      tags:
      - Tax Forms
      parameters:
      - $ref: '#/components/parameters/TaxYearQuery'
      - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Array of metadata for all the tax document data available for the Client matching search criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxDocumentResponse'
              example:
              - taxYear: 2021
                documentId: '1'
                documentUrl: https://d10cq78zmnjvsx.cloudfront.net/exaple-secured-tax-docs-path/1
                documentTitle: Annual Tax Summary
              - taxYear: 2022
                documentId: '2'
                documentUrl: https://d10cq78zmnjvsx.cloudfront.net/example-secured-tax-docs-path/2
                documentTitle: Annual Tax Summary
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
components:
  schemas:
    TaxDocumentResponse:
      title: Tax
      description: Base entity for all IRS Tax forms
      type: object
      properties:
        taxYear:
          description: Year for which taxes are being paid
          type: integer
        documentId:
          $ref: '#/components/schemas/Identifier'
          description: Long-term persistent id for the tax form instance
        documentUrl:
          description: URL for accessing the document resource
          type: string
        documentTitle:
          description: Title for the document
          type: string
    FundriseConnectError:
      title: Error object
      description: Error from Fundrise Connect.
      type: object
      properties:
        referenceId:
          description: A unique reference ID generated for every request that is for error tracing.
          maxLength: 1000
          type: string
        code:
          description: A numeric code mapping to a specific validation error.
          maxLength: 6
          type: string
        message:
          description: A human readable description of the error.
          maxLength: 1000
          type: string
        validationErrors:
          description: A map of field names to an array of form validation error messages
          $ref: '#/components/schemas/FieldErrorMap'
      required:
      - referenceId
    StringArray:
      type: array
      items:
        type: string
    Identifier:
      title: Identifier
      description: Value for a unique identifier.
      type: string
      format: int64
    FieldErrorMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/StringArray'
  responses:
    '401':
      description: Unauthorized request to server, Invalid access token or Partner credentials
    '403':
      description: Customer is not permitted to access the resource
    '500':
      description: Internal Service Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FundriseConnectError'
          examples:
            clientExists:
              value:
                referenceId: ed8583b9-6cd9-43ed-ad46-c7c52fff0c35
                message: Internal service error
  parameters:
    AccountIdPath:
      name: accountId
      in: path
      required: true
      schema:
        type: integer
        format: int64
      description: The account ID (returned by the <a href="#tag/Clients/operation/CreateClient">Create Client operation</a> or the <a href="#tag/Clients/operation/GetClient">Get Client operation</a>) associated with the request.
    TaxYearQuery:
      name: taxYear
      in: query
      description: Tax year in which to search for tax forms.
      required: false
      schema:
        type: integer
  securitySchemes:
    PartnerBasicAuthentication:
      description: PartnerBasicAuthentication is enforced by HTTP Basic Authentication. A Partner username and password will be provided by Fundrise support.  The Partner password should be stored securely. At a minimum, it should be encrypted at-rest and access restricted to services making requests to the Fundrise API. The Partner password should not be exposed to a Client or any of their devices. If the password is compromised please contact Fundrise support.
      type: http
      scheme: basic
    ClientBearerAuthentication:
      description: 'ClientBearerAuthentication is enforced by HTTP Bearer Authentication and requires an OAuth access token.  Since access tokens are scoped to specific Clients, they identify and authenticate the Client in a request.


        Access tokens can be obtained in <a href="#tag/Authentication/operation/GetAccessToken">Get Access Token</a> requests by using the refresh token flow. OAuth refresh token are issued on <a href="#tag/Clients/operation/CreateClient">Client Creation</a> and scoped specifically to that Client. The refresh tokens will not expire and should be stored securely after Client creation. At a minimum, refresh tokens should be encrypted at-rest and access restricted to services making requests to the Fundrise API. Refresh tokens should not be exposed to a Client or any of their devices.'
      type: http
      scheme: bearer
